.start-btn{
    margin-top: 32px;
    border: none;
    width: 193px;
    height: 52px;
    background-color: #4D5B9E;
    color: #F5F7FB;
    font-family: 'Karla', sans-serif;
    border-radius: 16px;
    font-size: 1.1rem;
}